# Project exclude paths
/project/project/target/
/project/target/
/target/
/target/scala-2.13/classes/
/target/scala-2.13/test-classes/
/target/scala-2.12/classes/
/target/scala-2.12/test-classes/
/target/scala-2.11/classes/
/target/scala-2.11/test-classes/

.DS_Store
.idea/
*.iml
.bsp
examples/scala2-11/target/
examples/scala2-12/target/
examples/scala2-13/target/
examples/scala2-11/project/target
examples/scala2-12/project/target
examples/scala2-13/project/target
cacheable-core/target
cacheable-caffeine/target
cacheable-redis/target
cacheable-benchmark/target
csv-core/target
csv-derive/target


tools/target

## plugin
intellij-plugin/target/
intellij-plugin/project/project/
intellij-plugin/project/target/
.run/