# Project exclude paths
/project/project/target/
/project/target/
/target/
/target/scala-2.13/classes/
/target/scala-2.13/test-classes/
/target/scala-2.12/classes/
/target/scala-2.12/test-classes/
/target/scala-2.11/classes/
/target/scala-2.11/test-classes/

.DS_Store
.idea/
*.iml
.bsp
*.csv
examples/scala2-11/target/
examples/scala2-12/target/
examples/scala2-13/target/
examples/scala2-11/project/target
examples/scala2-12/project/target
examples/scala2-13/project/target
smt-benchmark/target
smt-cacheable-core/target
smt-cacheable-caffeine/target
smt-cacheable-redis/target
smt-cacheable/target
smt-csv-core/target
smt-csv-derive/target
smt-tools/target
smt-generic-cache/target

.run/